:root {
    --navy: #1F2A44;        /* granat nagłowki*/
    --green: #1F5E4B;       /* butelkowa zieleń akcenty*/
    --light-gray: #F2F3F5;  /* jasnoszary (tło) sidebar*/
    --text-main: #1E1E1E;   /* główny tekst */
    --text-muted: #555555; /* tekst drugorzędny */
    --books-per-view: 3;
    --books-gap: 1em;
    --books-margin: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    color: var(--navy);
    margin: 0;
}

p,a,li,span,div {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-main);
    
}

/* Navigation Bar Styles */

.navbar {  
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--light-gray);
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 10px;
}

.navbar a {
    position: relative;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-main);
    font-family: "Segoe UI", Arial, sans-serif;
    transition: color 0.3s ease;
}

.navbar li {
    list-style: none;
    display: inline-block;
    position: relative;
}

.navbar a:hover {
    text-decoration: underline;
}

#navigationbar {
    position: sticky; 
    top: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.342);
    background: linear-gradient(
  270deg,
  #1F2A44, /* granat */
  #243A5E, /* granat jaśniejszy */
  #1F4E5F, /* petrol */
  #1F5E4B, /* butelkowa zieleń */
  #4F7A6A, /* zieleń rozjaśniona */
  #C8D0CC, /* jasnoszary z zielenią */
  #F2F3F5  /* jasnoszary */
);
    animation: gradientMove 10s ease infinite;
    z-index: 1000;
}

.nav_item_with_submenu {
    position: relative;

}

.nav_item_with_submenu:hover .nav_submenu {
    display: block;
    
}

.nav_link {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav_button {
    background: red;
    cursor: pointer;
    height: 70%;
    width: 10px;
}

.nav_submenu {
    display: none;
    position: absolute;
    background-color: var(--light-gray);
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0px;
    list-style: none;
    border-radius: 5%;
    padding: 2px 5px;
    
}

.nav_submenu li {
    padding: 5px
    
}

.nav_item--open .nav_submenu {
    display: block;
}

.navbar_list {
    list-style: none;
}

/* Navigation Bar Styles END */


body {
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    #F7F9FC 0%,
    #EEF1F5 100%
  );
  color: #1F2A44;
  margin: 0;
}



header {
    margin: 20px;
    
}

.header_index{
    text-align: left;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    grid-template-rows: auto;
    gap: 20px;
}

.header_literatura{
    font-size: 24px;
    text-align: left;
}
.header_literatura h1{
    text-align: center;
}

main {
    margin: 20px;
    
}

.main_literatura{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    
}

.table_header_rows{
    display: grid;
    align-items: start;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row dense;
}

.fade-line {
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, var(--green), transparent);
  margin: 20px 0;
}


#Profilowe {
    justify-self: center;
    align-self: center;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid var(--green);
}

.icon_link img{
    position: relative;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    object-fit: contain;
    margin: 10px;
    
}

.icon_link img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0px 5px var(--green));
    transition: transform 0.3s;
}

#Contact_Information{
    justify-self: end;
    align-self: center;
    margin-left: 10px;
}

.floating-pointer {
    position: absolute;
    top: 220px;      
    right: 180px;    
    display: flex;
    align-items: center;
    gap: 10px;
    transform: rotate(-20deg); 
    pointer-events: none; 
}

.pointer-text {
    font-size: 28px;
    font-weight: bold;
    color: var(--navys);          
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


.pointer-arrow {
    font-size: 38px;
    font-weight: bold;
    color: var(--navys);
    animation: arrow-move 1.2s infinite; 
}

.Media_section{
    position: relative;
    justify-self: end;
    align-self: center;
    gap: 10px;
}

#About_Me {
    font-size: 18px;
    line-height: 1.6;
    color: var(--navys);

}

.contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-list li {
    display: flex;
    align-items: center;
    gap: 8px; 
    margin-bottom: 6px;
}


.icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    object-fit: contain;
    margin-right: 8px;
}

.layout {
    display: grid;
    align-items: start;
    grid-template-columns: 13fr 19fr;
    grid-template-rows: auto;
    grid-auto-flow: row dense;
    gap: 20px;
}

.left-column {
    
    grid-column: 1;
    margin-right: 20px;
}

.right-column {
    grid-column: 2;
}

.table_wrapper{
    overflow-x: hidden;
    border-radius: 8px;
    border: 0.5px solid var(--green);
    margin-bottom: 20px;
}

.table_style {
    border-collapse: collapse;
    width: 100%;
    box-shadow: inset 0px 2px 10px var(--green); /*przesuniecieX przesuniecieY rozmycie rozprzestrzenienie kolor */
}

.table_style th, 
.table_style td {
    border: 1px solid var(--green);
    text-align: left;
    padding: 8px;
    font-size: 16px;
    box-shadow: inset 0 0 2px var(--green);
}

#Message_label{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    color: var(--green);
}

.button {
    text-align: center;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input {
    padding: 4px;
    width: 100%;
    
}

textarea {
    width: 100%;
    height: 171.02px;
    resize: vertical; 
}

/* Books list */

.Books_list_content{
    display: flex;
    align-items: center;
    gap: 20px;
    
}

.Books_viewport{
    overflow: hidden;
    width: 100%;
    
}

.Books_track{
    display: flex;
    gap: var(--books-gap);
    transition: transform 0.3s;
    will-change: transform;
}

.Books_list_title{
    margin-bottom: 20px;

}

.Book_item{
    display: grid;
    grid-template-areas: 
        "okladka okladka author"
        "okladka okladka release"
        "desc  desc   desc";
    height: 550px;
    padding: 5px;
    background-color: var(--light-gray);
    border-radius: 8px;
    margin: var(--books-margin);
    box-shadow: 0 2px 5px var(--green);
    transition: transform 0.3s, box-shadow 0.3s;
    box-sizing: border-box;
    flex: 0 0 calc(
    (
      100%
      - (var(--books-per-view) - 1) * var(--books-gap)          /* gapy */
      - var(--books-per-view) * (2 * var(--books-margin))       /* marginesy */
    )
    / var(--books-per-view)
  );
}

.Book_item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px var(--green);
}

.Book_cover{
  width: 200px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  align-items: left;
  justify-content: left;
  padding-top: 10px;
}

.Book_cover img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  outline: 3px solid var(--navy);
}

.book_description{
    grid-area: desc;
    font-size: 14px;
    margin-top: 3px;
    color: var(--text-main);
}

.book_title{
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    color: var(--navy);
}

.book_author{
    grid-area: author;
    font-size: 16px;
    margin-top: 5px;
    color: var(--navy);
}

.Books_button{
    background-color: var(--navy);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    transition: background-color 0.5s;
}

.Books_button:hover {
    background-color: var(--green);
}

/* Sports */

.Ju_Jitsu_Photos{
    display: grid;
    grid-template-areas: 
        "nazwa nazwa nazwa"
        "Photo1 paragraph1 Photo2"
        "Photo3 paragraph2 paragraph2";
    background-color: var(--light-gray);
    border-radius: 8px;
    margin: var(--books-margin);
    box-shadow: 0 2px 5px var(--green);
    transition: transform 0.3s, box-shadow 0.3s;
    gap: 10px;
    padding: 20px;
}

.Sport_headline{
    text-align: center;  
}

.Sport_paragpaph{
    text-align: center;
}

.Sport_Image{
  width: 100%;
  height: 100%;
  max-height: 220px;          /* żeby zdjęcia miały „kartowy” wygląd */
  object-fit: cover;
  display: block;
  border-radius: 12px;
}

.Marathon_section{
    display: grid;
    grid-template-areas: 
        "nazwa nazwa nazwa nazwa"
        "Photo1 paragraph1 paragraph1 paragraph1"
        "Photo1 Photo2 Photo2 Photo2 ";
    background-color: var(--light-gray);
    border-radius: 8px;
    margin: var(--books-margin);
    box-shadow: 0 2px 8px var(--green);
    transition: transform 0.3s, box-shadow 0.3s;
    gap: 10px;
    padding: 20px;
}

#Marathon_photo{
  width: 100%;
  height: 100%;
  max-height: 600px;          /* żeby zdjęcia miały „kartowy” wygląd */
  object-fit: cover;
  display: block;
  border-radius: 12px;
}

/* TEKST spada z góry */
.text-drop{
  opacity: 0;
  transform: translateY(-40px);
  transition: transform 1.7s cubic-bezier(.2,.8,.2,1), opacity 0.9s ease;
  will-change: transform, opacity;
}

.text-drop.show{
  opacity: 1;
  transform: translateY(0);
}

/* TEKST wyjezdza z lewej */

.text-slide-left{
    transform: translateX(-50%);
    opacity: 0;
    transition: transform 1.2s cubic-bezier(.2,.8,.2,1), opacity 1s ease-in-out;
}

.text-slide-left.show{
    transform: translateX(0%);
    opacity: 1;
}

/* PHOTO 1 i 2 – pojawiają się obracając */
.photo-rotate{
  opacity: 0;
  transform: rotate(-120deg) scale(0.92);
  transition: transform 1.5s cubic-bezier(.2,.8,.2,1), opacity 0.9s ease;
  will-change: transform, opacity;
}

.photo-rotate.show{
  opacity: 1;
  transform: rotate(0deg) scale(1);
}

/* wyjeżdża z lewej */
.photo-slide-left{
  opacity: 0;
  transform: translateX(-70px);
  transition: transform 0.9s cubic-bezier(.2,.8,.2,1), opacity 0.9s ease;
  will-change: transform, opacity;
}

.photo-slide-left.show{
  opacity: 1;
  transform: translateX(0);
}


/* Animations */
@keyframes arrow-move {
    0%   { transform: translateX(0); }
    50%  { transform: translateX(12px); }
    100% { transform: translateX(0); }
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@media (max-width: 768px) {
  .floating-pointer {
    top: 240px;
    right: 120px;
    transform: rotate(-20deg);
  }

  .pointer-text {
    font-size: 24px;
  }

  .pointer-arrow {
    font-size: 34px;
  }
}

/* ====== RESPONSYWNOŚĆ (telefon) ====== */
@media (max-width: 768px){
  .Ju_Jitsu_Photos{
    grid-template-areas:
      "nazwa"
      "Photo1"
      "paragraph1"
      "Photo2"
      "Photo3"
      "paragraph2";
    grid-template-columns: 1fr;
    padding: 14px;
  }

  .Sport_Image{
    max-height: 200px;
  }
}