body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url(image/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

header {

    text-align: left;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    grid-template-rows: auto;
    gap: 20px;
    
}

.table_header_rows{
    display: grid;
    align-items: start;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row dense;
}

.fade-line {
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #419165, transparent);
  margin: 20px 0;
}


#Profilowe {
    justify-self: center;
    align-self: center;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid #c2672bab;
}

#Social_media_section{
    justify-self: end;
    align-self: center;
    gap: 10px;
}

.icon_social_media{
    width: 80px;
    height: 80px;
    vertical-align: middle;
    object-fit: contain;
    margin: 10px;
}

.icon_link img{
    text-decoration: none;
}

.icon_link img:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

#Contact_Information{
    justify-self: end;
    align-self: center;
    margin-left: 10px;
}

#About_Me {
    font-size: 18px;
    line-height: 1.6;
    color: #36971e;

}

.contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-list li {
    display: flex;
    align-items: center;
    gap: 8px; 
    margin-bottom: 6px;
}


.icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    object-fit: contain;
    margin-right: 8px;
}

.icon_social_media{
    width: 100px;
    height: 100px;
    vertical-align: middle;
    object-fit: contain;
    margin: 10px;
}

.layout {
    display: grid;
    align-items: start;
    grid-template-columns: 13fr 19fr;
    grid-template-rows: auto;
    grid-auto-flow: row dense;
    gap: 20px;
}

.left-column {
    
    grid-column: 1;
    margin-right: 20px;
}

.right-column {
    grid-column: 2;
}

.table_wrapper{
    overflow-x: hidden;
    border-radius: 8px;
    border: 0.5px solid #c2672bab;
    margin-bottom: 20px;
}

.table_style {
    border-collapse: collapse;
    width: 100%;
    box-shadow: inset 0px 2px 10px #c2672bab; /*przesuniecieX przesuniecieY rozmycie rozprzestrzenienie kolor */
}

.table_style th, 
.table_style td {
    border: 1px solid #eea778ab;
    text-align: left;
    padding: 8px;
    font-size: 16px;
    box-shadow: inset 0 0 2px #eea778ab;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    
}

.floating-pointer {
    position: absolute;
    top: 240px;      
    right: 180px;    
    display: flex;
    align-items: center;
    gap: 10px;

    transform: rotate(-20deg); 

    z-index: 9999;  
    pointer-events: none; 
}

.Media_section{
    position: relative;
}


.pointer-text {
    font-size: 28px;
    font-weight: bold;
    color: #ffcf33;          
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


.pointer-arrow {
    font-size: 38px;
    font-weight: bold;
    color: #ffcf33;
    animation: arrow-move 1.2s infinite; 
}

@keyframes arrow-move {
    0%   { transform: translateX(0); }
    50%  { transform: translateX(12px); }
    100% { transform: translateX(0); }
}

@media (max-width: 768px) {
  .floating-pointer {
    top: 240px;
    right: 120px;
    transform: rotate(-20deg);
  }

  .pointer-text {
    font-size: 24px;
  }

  .pointer-arrow {
    font-size: 34px;
  }
}